<div class="basic-grey"> 
    <h1>Bienvenido!</h1>

    <ul>
        <li><%= link_to "Tipos", kinds_path %></li>
        <li><%= link_to "Contactos", contacts_path %></li>
        <li><%= link_to "Direcciones", addresses_path %></li>
        <li><%= link_to "Teléfonos", phones_path %></li>
    </ul>
</div>
